<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.mshome.twisted.tmall.mapper.PermissionMapper">

    <select id="selectCodeByRoles" resultType="java.lang.String">
        select code from role_permission left join permission on role_permission.permission_id = permission.id
        where role_id in
        <foreach collection="roleIds" open="(" close=")" separator="," item="roleId">
            #{roleId}
        </foreach>
        and data_state = #{dataState}
    </select>
</mapper>
